
<!doctype html>
<html lang="en" class="h-100">

  <head>
    <title>Scrap Go YouTube Downloader</title>

   <!-- Favicons -->
  <link rel="Shorcut icon" href="https://drive.google.com/uc?id=1leVbT5n-0pJyJfUl63dM0PwiLir855o_">

      <!--img src="Logo.png"style="float:right;width:500px;height:500px;"-->


    <!-- Bootstrap core CSS -->
    <link href="https://drive.google.com/uc?id=1s07lzDNdj4eos01l1Albcwk-fr3VhLQB" rel="stylesheet">
 


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    
    <!-- Custom styles for this template -->
    <link href="https://drive.google.com/uc?id=1UvV_BWauFyYB2SZYiJXn816Ma-x4FMVF" rel="stylesheet">
  </head>
  <body class="d-flex h-100 text-left text-white bg-dark">
  

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="mb-auto">
    <div>
      <h3 class="float-md-start mb-0">Scrap Go</h3>
      <nav class="nav nav-masthead justify-content-center float-md-end">
        <a class="nav-link active" aria-current="page" href="/">Home</a>
        <a class="nav-link" href="/features">Features</a>
        <a class="nav-link" href="/contact">Contact</a>
      </nav>
    </div>
  </header>
  
  <main class="px-3">
    <img src="https://drive.google.com/uc?id=11FZpgf6f2vK3_YVzvnvsZ9ix9-ShntYx" width="300">
    <p class="lead mt-5"></p>
    <h1>Oops something went wrong!</h1>
    <h2>There may be several reasons.</h2>
    <p class="lead mt-5">
        <ul>
          <li>Invalid YouTube link.</li>
          <li>The YouTube video is not available anymore.</li>
          <li>Selected resolution or format is not available.</li>
        </ul>
    </p>
    <h2>Please try again.</h2>

  </main>
  <footer class="mt-auto text-white-50">
    <p></p>
  </footer>
</div>



  </body>
</html>
